<footer>
  <div class="container text-center text-md-left">
    <div class="row">

      <div class="col-md-4 mx-0">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Purpose of this website?</h5>
        <p>This is a Coding challenge for Hidden Founders </p>
      </div>

      <div class="col-md-2 mx-0">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Menu</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#"></a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 mx-0">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Sub-Menu</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 mx-0">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Our Policies</h5>
      </div>

    </div>
  </div>

  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook"> </i>
      </a>
    </li>

    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus"> </i>
      </a>
    </li>

    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin"> </i>
      </a>
    </li>

  </ul>

  <div class="footer-copyright text-center ">© 2018 Copyright:
    <a >Akram Craftorm </a>
  </div>
  <!-- Copyright -->

</footer>
