<section style="background-color:rgb(136, 84, 5); height: 115px;">
<img src="https://cdn.shopify.com/s/files/1/2645/0874/t/4/assets/logo.png?894701934338834032" style="float:left;background-color:rgb(136, 84, 5);" alt ="Wainting">

<div class="navbar navbar-default" >
               <div class="container" style="display:inline;">
                <div class="row">
                 <div >
                   <a class="btn btn-navbar"  type="button" href="{{path('Shop_unordered_homepage')}}">
                       <span class="icon-bar" >Home</span>
                   </a>
                   <a class="btn btn-navbar"  type="button" href="{{path('Shop_homepage')}}">
                       <span class="icon-bar" >Nearby Shops</span>
                   </a>
                   <a class="btn btn-navbar"  href="{{path('Liked_shops')}}" type="button">
                       <span class="icon-bar">Prefered Shops</span>
                   </a>
                </div>
                
                <div  style="margin-left:420px;">
                   <div class="navbar-form form-search pull-right">
                   <form class="navbar-form form-search pull-right ">
                      <input id="Search" class="input-medium search-query" name="Search" type="text" >
                      <button type="submit" class="btn">Search </button>
                    </form>
                   </div>
                </div>
               </div>
           </div>
          </div>
       </div>
</section>
