<div class="well">
  <ul>
     <li>
       <a href="{{path('fos_user_profile_show')}}">Informations</a>
     </li>
     <li>
       <a href="{{path('fos_user_profile_edit')}}">Modify my informations</a>
     </li>
    <li>
      <a href="{{path('fos_user_security_logout')}} ">Deconnect</a>
     </li>
   </ul>

</div>
